<form *ngIf="formEdit" class="form" [formGroup]="formEdit" (ngSubmit)="submit()">
  <div class="form-group">
  <label>Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
  <label>Price</label>
    <input type="text" class="form-control" formControlName="price">
  </div>
  <div class="form-group">
  <label>Description</label>
    <input type="text" class="form-control" formControlName="description">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success">Edit</button>
  </div>
</form>
